{% extends "site_base.html" %}

{% load i18n %}
{% block title %} {% trans "About GeoNode" %} — {{ block.super }} {% endblock %}

{% block body_outer %}
<div class="page-header">
  <h2>{% trans "About GLake" %}</h2>
</div>
<p class="lead">เกี่ยวกับ GLake</p>
<p>
<em>GLake</em> เป็นระบบสำหรับจัดการข้อมูลประเภท geospatial โดย <strong>ศูนย์อำนวยการน้ำแห่งชาติ</strong>ได้จัดทำขึ้นเพื่อใช้สำหรับจัดการและแลกเปลี่ยนข้อมูลภูมิสารสนเทศด้านทรัพยากรน้ำ รองรับรูปแบบระบบ สมาชิก
</p>
<p>
ระบบ <strong>GLake</strong> (Geospatial data Lake) สามารถให้สมาชิกของระบบ สามารถแชร์แผนที่ภูมิศาสตร์ที่อยู่ในรูปแบบ ไฟล์ Digital หรือเข้ามาใช้งานแผนที่ของสมาชิกอื่น ๆ ได้ ตามระดับหรือสิทธิของสมาชิก ทั้งนี้ ระบบสมาชิก จะถูกกำหนดตามนโยบายของศูนย์อำนวยการน้ำแห่งชาติ สำนักงานทรัพยากรน้ำแห่งชาติ
</p>
<p>
ระบบ GLake ถูกออกแบบให้ใช้งานได้ตามมาตรฐาน platform ของ OGC:The Open Geospatial Consortium ซึ่งสามารถต่อยอดและแลกเปลี่ยนข้อมูลภูมิสารสนเทศให้กับ ระบบอื่น ๆ ได้
</p>

{% endblock %}
